%h1 Boards#index

%div#header.some{ :style => "background-color: blue; height: 100px; width: 100%; color: red;" }
	%p Headerbereich

%div#mood.some{ :style => "background-color: grey; height: 400px; width: 28%; color: red; float: left; margin: 5px;" }
	%p Moodbereich

%div#right.some{ :style => "background-color: white; height: 400px; width: 68%; color: red; float: right;" }

	%div#todo.some{ :style => "background-color: green; height: 100px; color: red;" }
		%p TodoBereich

	%div#comments.some{ :style => "background-color: yellow; height: 100px; color: red;" }
		%p Kommentarbereich

