%div.container-fluid
	%div.row
		%div.col-md-12{ :style => "background-color: red; min-height: 300px;" }
			%h3 Headbereich
	%div.row
		%div.col-md-3{ :style => "background-color: darkseagreen; min-height: 300px;" }
			%h3 Moodbereich
		%div.col-md-9
			%div.row
				%div.col-md-12{ :style => "background-color: grey; min-height: 150px;" }
					%h3 Todo
			%div.row
				%div.col-md-12{ :style => "background-color: cornsilk; min-height: 150px;" }
					%h3 Kommentare


